<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.tjubd.meetup.mapper.GroupMapper">
    <select id="countJoinedGroups" resultType="_int">
        select count(*) from `group` where created &lt;= #{Timestamp}
    </select>

    <select id="countJoinedGroupsByYear" resultType="_int">
        select count(*) from `group` where created &gt;= #{startTimestamp} and created &lt; #{endTimestamp} and country = #{countryName}
    </select>


</mapper>